<!-- Page Content -->
<header class="bg-success bg-gradient bg-opacity-75 firstHeader py-5 mb-5">
  <div class="container h-100">
      <div class="row h-100 align-items-center">
          <div class="col-lg-2">
              <img class="mw-100 mx-auto mt-3" src="https://images.vexels.com/media/users/3/143495/isolated/preview/6b80b9965b1ec4d47c31d7eccf8ce4b0-icone-de-raio-amarelo.png" />
          </div>
          <div class="col-lg-10">
              <h1 class="display-4 text-white mt-5 mb-2">A melhor loja de eletrônicos!</h1>
              <p class="lead mb-5 text-white">Venha conhecer minha Single Page Application</p>
          </div>
      </div>
  </div>
</header>

<div class="container main-container">
  <div class="row text-center">
      <div class="col-lg-3 col-md-6 mb-4">
          <div class="card h-100">
              <img src="/assets/airPods.jpg" class="card-img-top" height="300px" width="300px" />
              <div class="card-body">
                  <h4 class="card-title">Multiplataforma</h4>
                  <p class="card-text">Lorep ipsum</p>
              </div>
              <div class="card-footer">
                  <a href="#" class="category btn bg-success bg-gradient bg-opacity-50">Saiba mais</a>
              </div>
          </div>
      </div>

      <div class="col-lg-3 col-md-6 mb-4">
          <div class="card h-100">
              <img src="/assets/dellXPS.jpg" class="card-img-top" height="300px" width="300px" />
              <div class="card-body">
                  <h4 class="card-title">Performance</h4>
                  <p class="card-text">Lorep ipsum</p>
              </div>
              <div class="card-footer">
                  <a href="#" class="category btn bg-success bg-gradient bg-opacity-50">Saiba mais</a>
              </div>
          </div>
      </div>

      <div class="col-lg-3 col-md-6 mb-4">
          <div class="card h-100">
              <img src="/assets/pcGamer.jpg" class="card-img-top" height="300px" width="300px" />
              <div class="card-body">
                  <h4 class="card-title">Produtividade</h4>
                  <p class="card-text">Lorep ipsum</p>
              </div>
              <div class="card-footer">
                  <a href="#" class="category btn bg-success bg-gradient bg-opacity-50">Saiba mais</a>
              </div>
          </div>
      </div>

      <div class="col-lg-3 col-md-6 mb-4">
          <div class="card h-100">
              <img src="/assets/smartPhone.jpg" class="card-img-top" height="300px" width="300px" />
              <div class="card-body">
                  <h4 class="card-title">Funcionalidades</h4>
                  <p class="card-text">Lorep ipsum</p>
              </div>
              <div class="card-footer">
                  <a href="#" class="category btn bg-success bg-gradient bg-opacity-50">Saiba mais</a>
              </div>
          </div>
      </div>
  </div>
</div>
<!-- Fim Content -->
